.timeline1 {
  border-right: 4px solid #004ffc;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;    
  background: fade(white, 3%);
  color: fade(white, 80%);
  font-family: 'Chivo', sans-serif;  
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;   
  list-style: none;
  font-weight: 100;  
  padding-right: 30%;
}html {
  font-size: 62.5%;
}
html, body {
   height: 100vh;
   font-family: sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased; 
   background-color: #006494;
   color: #E8F1F2;
}
body {
  font-size: 1.6rem;
  margin:0;
}

h1, h3 {
  color: #13293D;
}
a {
  text-decoration:none;
  color: #E8F1F2;
}
a:hover {
  color: #13293D;
}

.sidenav {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #13293D ;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  text-align: center;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
  margin-top: 5px;
}

.sidenav a:hover {
  background-color: #247BA0;
  color: #E8F1F2;
}
.main {
  margin-left: 18%; /* Same as the width of the sidenav */
  margin-right: 5%;
  padding: 0px 10px;
}
* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  right: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
  padding-right: 70px;
  line-height: 1.4em;
  font-size: 1.03em;   
  list-style: none;
  font-weight: 100;  
  padding-right: 20%;
}

.containerText {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;   
  list-style: none;
  font-weight: 100;  
  padding-right: 10%;
}
  /* Make sure all circles are at the same spot */
  .right::after {
  right: 15px;
  }
  .right::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 10%;
    height: 10%;
    z-index: 1;
    right: 30px;
    border-radius: 50%;
    background-color: white;
    border: medium solid white;
    border-color: transparent white transparent transparent;
  }
  
/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(74, 14, 240);
  border: 4px solid rgb(165, 181, 197);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */

/* The actual content */

