html {
  font-size: 62.5%;
}
html, body {
   height: 100vh;
   font-family: sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased; 
   background-color: #006494;
   color: #E8F1F2;
}
body {
  font-size: 1.6rem;
  margin:0;
}
h1, h3 {
  color: #13293D;
}
a {
  text-decoration:none;
  color: #E8F1F2;
}
a:hover {
  color: #13293D;
}
.containerText {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 70%;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;   
  list-style: none;
  font-weight: 100;  
  padding-right: 10%;
}
.sidenav {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #13293D ;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  text-align: center;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
  margin-top: 5px;
}

.sidenav a:hover {
  background-color: #247BA0;
  color: #E8F1F2;
}

@media screen and (max-width: 700px) {
  .sidenav {
    visibility: hidden;
  }
}

@media screen and (max-width: 400px) {
  .sidenav a {
    visibility: hidden;
  }
}

.main {
  margin-left: 18%;
  margin-right: 5%;
  padding: 0px 10px;
}
